.merchant-info-container {
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.merchant-header {
  display: flex;
  align-items: center;
}

.merchant-logo {
  border-radius: 4px;
  margin-right: 12px;
  flex-shrink: 0;
}

.merchant-header-main {
  flex-grow: 1;
}

.merchant-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.merchant-details {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #666;
}

.merchant-phone-icon {
  color: #333;
  margin-left: 12px;
}

.merchant-body {
  padding-top: 10px;
}

.info-line {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 8px;
  font-size: 12px;
  color: #888;
  line-height: 1.5;
  margin-bottom: 6px;
}

.info-line .adm-icon {
  flex-shrink: 0;
  margin-top: 2px; /* Align icon with the first line of text */
}